.big-picture-library {
    padding: 2rem;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: min-content auto;
    gap: 48px;
}

.bigpicture-library-topbar {
    display: flex;
    position: sticky;
    left: 0;
    width: 90vw;
    align-items: center;
    gap: 64px;
    margin-bottom: 1rem;

    .games-title {
        color: var(--clr-text-secondary)
    }
    .topbar-button-group {
        display: flex;
        gap: 20px;
        margin-top: .5rem;
        transition: transform .2s ease;
        transform-origin: top left;
        &:has(.focused) {
            transform: scale(1.05);
        }
        & > .focusable {
            outline: 4px solid transparent;
            outline-offset: 2px;
        }
        & > .focused {
            outline: 8px solid var(--clr-primary-active);
        }
        & > button {
            font-size: 20px;
        }
    }
}
.games-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
}

.big-picture-library-bottombar {
    display: flex;
    align-items: center;
    gap: 32px;
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50% -50%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 20px;
    transition: padding 0.3s ease-in-out;

    &:has(.focused) {
        transform: scale(1.05)
    }
    
    & > * {
        color: rgb(215, 215, 215);
        padding: 0rem;
        box-sizing: content-box;
    }

    & > :nth-child(1) {
        background-color: transparent;
        border-radius: 0;
    }
}
.games-carousel {
    display: flex;
    width: fit-content;
}



.focusable {
    transition: none;
    outline: 8px solid transparent;
    outline-offset: 4px;
    transition: outline-color .1s ease, outline-offset 0.15s ease;
    box-shadow: none;
    transition: outline-color 0.15s ease,
                outline-offset 0.15s ease,
                box-shadow 0.2s ease,
                transform 0.15s ease;
    &.focused {
        outline: 8px solid var(--clr-primary-active);
        transform: scale(1.05);

    }
}