.big-picture-library {
    padding: 2rem;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-rows: min-content auto;
    gap: 48px;
}

.bigpicture-library-topbar {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    width: 90vw;
}

.topbar-button-group {
    display: flex;
    gap: 8px;
    margin-top: .5rem;
    .btn {
        font-size: 24px;
    }
}

.games-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
}

.big-picture-library-bottombar {
    display: flex;
    align-items: center;
    gap: 32px;
    position: fixed;
    right: 50%;
    left: 50%;
    bottom: 0px;
    width: max-content;
    translate: -50% -50%;
    padding: 16px 16px 16px 16px;
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.25);

    & > * {
        color: rgb(215, 215, 215);
        padding: 0rem;
        box-sizing: content-box;
    }

    & > :nth-child(1) {
        background-color: transparent;
        border-radius: 0;
    }
}
.games-carousel {
    display: flex;
    gap: 16px;
    width: fit-content;
}