.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Specific styling for error modals to fit stack */
.modal-content:has(.error-modal){
    max-width: 1250px;
}

/* Specific styling for error modals to fit stack */
.modal-content:has(.settings-modal){
    padding: 0rem;
}

.modal-content {
    padding: 2rem;
    background: var(--clr-surface-0);
    border: 1px solid #3d4450;
    border-radius: 8px;
    min-width: 400px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}


.no-emulator-modal h2, .error-modal h2 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    color: #fff;
}

.no-emulator-modal p, .error-modal p {
    color: #8f98a0;
    margin: 0 0 1.5rem;
    line-height: 1.5;
}

.modal-buttons {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
}

.select-emulator-modal {
    .emulator-options {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .modal-bottom {
        margin-top: .75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .emulator-option-wrapper {
        background-color: var(--clr-surface-1);
        border: 1px solid transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-color: var(--clr-surface-2);
            cursor: pointer;
        }

        &.selected {
            background-color: var(--clr-primary-active);
            border: 1px solid var(--clr-primary-border)
        }
        &.disabled {
            pointer-events: none;
            cursor:not-allowed;
            background-color: rgba(0, 0, 0, 0.1);
        }

        &.selected > .label-wrapper > p {
            color: var(--clr-primary-1)
        }
        & > p {
            padding: 10px;
            margin: 0rem;
        }

    }

    .modal-header {
        margin-bottom: 1rem;

        & > p {
            font-size: 14px;
        }
    }

    .remember-checkbox {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;

        &:hover, & > label:hover  {
            cursor: pointer;
        }
     
    }
}